body {
  font-family: "Nanum Gothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 60px;
}

.cursor-pointer {
  cursor: pointer;
}

.full-width {
  width: 100%;
}

.mg-0 {
  margin: 0;
}

.mgt-0 {
  margin-top: 0;
}

.pd-0 {
  margin: 0;
}

.gallery img {
  width: 100%;
  min-height: 195px;
  max-height: 195px;
  margin-bottom: 30px;
}

.movie img:first-child {
  width: 100%;
  max-height: 100%;
}

@media (max-width: 992px) {
  .gallery img {
    max-height: 100%;
  }
}